/* Importando tipografia Quicksand do Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Importando tipografia Poppins do Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Configurações gerais para todas as tags do body */
body {
  font-family: 'Quicksand', sans-serif;
}

/* Configurando header do site, com o tamanho */
header {
  /* Definindo imagem de fundo para o header */
  background-image: url("../img/header.jpg");
  /* Tamanho da imagem de fundo: Cobrindo o header */
  background-size: cover;
  position: static;
  overflow: hidden;
  height: 40rem;
}

/* -----------  Configurações do menu inicial: -----------
Todas as configurações do menu do site  */
#menu {
  width: 35px;
  height: 30px;
  margin: 2rem 0 1rem 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
/* Cor das opções do menu */
.nav li a {
  color: white;
  text-decoration: none;
}
/* hover das opções do menu */
.nav li a:hover {
  font-weight: bold;
}
/* Tirando o sublinhado e aplicando espaçamento com padding as opções do menu */
.nav li {
  list-style: none;
  padding: 16px 0;
}

.nav {
  padding: 0;
  left: 2%;
  transition: 0.3s ease;
  display: none;
}

.menu-bg, #menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 0;
  background: radial-gradient(circle, #0024A4, #000f44);
  border-radius: 50%;
  transition: 0.3s ease;

}

#menu-bar {
  z-index: 2;
  left: 2%;
}

.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}

/* Definições de cor do icone de fechar X do menu */
.change .bar {
  background-color: white;
}

/* Efeito do icone de fechar X do menu */
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
/* Efeito do icone de fechar X do menu */
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

/* Tirando o terceirro elemento */
.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}
/* Finalizando as configurações do menu */


/* Div da imagem de perfil */
.perfil {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Definições das linhas divisoria  */
hr {
	width: 50%;
  opacity: 50%;
  color: white;
	margin: 0 auto 0 auto; 
	}


/* Configurando tamanho e arredondamento da foto */
.foto-perfil {
  width: 140px;
  height: 140px;
  border-radius: 100px;
}

 /* Configurações da div responsável pela apresentação inicial do site, contendo as tag H1, p. com pocisionamento e alinhamento */
.header-texto {
  text-align: center;
  margin: 2rem 0 0 0;
}

/* Configurando o H1, tamanho, espaçamento entre letras e cor */
h1 {
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 10px;
	color: white;
}

/* Configurando a tag p, tamanho e cor */
.header-texto p {
  font-size: 20px;
  color: white;
}

/* Margem dos icones sociais | Alimento ao centro */
.social-icons {
  margin-top: 1rem;
  align-content: center;
}

/* Posição lado a lado dos icones sociais  */
.social-icons li {
	display: flex;
}

/* Controle dos icones sociais tamanho, posição, duração da transição do efeito do hover | 
da borda redonda envolta dos icones sociais  */
.social-icons a {
  background-color: rgba(192, 192, 192, 0.7);
	width: 40px;
	height: 40px;
  margin: 0 0 0 6px;
	border-radius: 100%;
  color: white;
	font-size: 20px;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/* Hover dos icones sociais */
.social-icons a:hover {
  color: white;
	background-color: #0024A4;
}

/* ------- Configurando a seta de rolagem ------ */
.seta-svg {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.seta-svg:hover {
  transform: scale(1.2);
  color: silver;
}

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte{
  margin-top: -10rem;
}

/* -------------  Configurações da sessao-info: -----------------------
distancia do svg, centralização do texto e cor, tamanho da sessão */
.sessao-info {
  background-color: #0024A4;
  text-align: center;
  color: white;
  height: 25rem;
  margin-top: -1rem;
}

/* Configurando o h2 */
.sessao-info h2{
  font-size: 45px;
}

/* Configurando a tag p  */
.sessao-info p {
  width: 80%;
  font-size: 20px;
  margin: 0 auto 0 auto; 
}

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte-2 {
  margin-top: -5rem;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-2, centralização do texto e cor, tamanho da sessão */
.sessao-portfolio {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: -10rem;
}

/* Configurações das tag <h2> */
.sessao-portfolio h2 {
  font-size: 45px;
  font-style: italic;
}

/* Definindo paddaing-top para a tag <h2> da sessão-portfólio */
.titulo-portfolio {
  padding-top: 10rem;
}

/*  Configurações das tag <p> */
.sessao-portfolio p {
  font-size: 20px;
}

.portfolio-imagem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projeto h2 {
  font-size: 25px;
}

.projeto p {
  font-size: 18px;
}

/* Controle dos icones sociais tamanho, posição, duração da transição do efeito do hover | 
da borda redonda envolta dos icones sociais  */
.projeto a {
  color: white;
  background-color: rgba(70, 70, 70, 0.9662);
	width: 40px;
	height: 40px;
  margin: 0 0 0 6px;
	border-radius: 100%;
	font-size: 20px;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.projeto a:hover {
  color: white;
  background-color: #0024A4;
}

/* Configurando div responsavél pela galeria de imagens */
.imagem-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  padding: 10px;
}

/* Configurando as imagens */
.imagem-galeria {
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.055);
}

.imagem-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ajustando tamanho para o icone SVG da internet (link externo para aplicação) */
.icone-browser {
  height: 20px;
  width: 20px;
}

/* Configurando a sessao-skills */
.sessao-skills {
  background-color: #0024A4;
  height: 90rem;
}

/* Configurando a sessao-skills h2 */
.sessao-skills h2 {
  font-size: 45px;
  padding-top: 60px;
}

/* Configurando a sessao-skills p */
.sessao-skills p {
  font-size: 20px;
}

/* Configurações da div hard-skills: Área contendo as informações das hard-skills */
.hard-skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

/* Configurações da div soft-skills: Área contendo as informações das soft-skills */
.soft-skills{
  display: flex;
  color: white;
  text-align: center;
}

/* Configurações das divs onde ficaram os cards das skills */
.hard-skill, .formacao, .soft-skill, .personalidade  {
  width: 50%;
} 

/* Configurações dos cards  */
.card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
  width: 35rem;
  height: 32rem;
  border-radius: 20px;
  box-shadow: -3px -3px 7px #02084273, 3px 3px 5px rgba(1, 19, 51, 0.29);
  margin-left: auto;  
  margin-right: auto;
}

.card-hardSkill p {
  font-size: 20px;
}

/* Configurações dos icones de tecnologias (hard-skills) importadas do Font Awesome */
.icones-tech a{
  display: inline-flex;
  color: white;
  text-align: center;
	font-size: 60px;
  padding: 45px;
}

/* Definindo cor através da propriedade filter aos icones  */
.fa-java {
  filter: invert(24%) sepia(86%) saturate(7466%) hue-rotate(357deg) brightness(94%) contrast(116%);
}

.fa-html5 {
  filter: invert(39%) sepia(56%) saturate(1815%) hue-rotate(345deg) brightness(100%) contrast(102%);
}

.fa-js-square {
  filter: invert(60%) sepia(97%) saturate(374%) hue-rotate(5deg) brightness(109%) contrast(89%);
}

.fa-css3-alt {
  filter: invert(55%) sepia(85%) saturate(415%) hue-rotate(154deg) brightness(90%) contrast(92%);
}

/* Configurações dos icones de tecnologias (hard-skills) svg local */
.spring-logo {
  height: 60px;
  width: 60px;
}

.mysql-logo {
  height: 90px;
  width: 90px;
}

/* Configurando o flex para as academias ficarem lado a lado  */
.academias {
  display: flex;
  flex-wrap: wrap;
}

/* Definindo largura total para cada academia */
.facul, .tecnico-faetec {
  width: 50%;
}

/* Definindo o tamanho da tag <p> */
.facul p, .tecnico-faetec p, .tecnico-start p {
  font-size: 16px;
}

/* Configurações do icone da UFF (hard-skills) svg local */
.uff-logo {
  height: 100px;
  width: 200px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(15deg) brightness(102%) contrast(102%);
}

/* Configurações do icone da Faetec (hard-skills) svg local */
.faetec-logo {
  height: 100px;
  width: 150px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(15deg) brightness(102%) contrast(102%);
}

.tecnico-start {
  padding-top: -30px;
  width: 100%;
}

.start-logo {
  height: 70px;
  width: 130px;
  filter: invert(14%) sepia(86%) saturate(5753%) hue-rotate(276deg) brightness(95%) contrast(127%);
}

/* Configuração dos certificados <h2> */
.certificacoes h2 {
  font-size: 25px;
  padding-top: 20px;
}

/* Configuração da div do scrum */
.scrum {
  width: 50%;
}

/* Definindo o tamanho da tag <p> do scrum */
.scrum p {
  font-size: 16px;
}

/* Configuração da logo do scrum */
.scrumstudy-logo {
  height: 100px;
  width: 100px;
}

/* Configurações do icone da Faetec (hard-skills) svg local */
.lista-soft ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* Definindo distância entre os itens da lista */
.lista-soft li {
  margin-top: 5%;
}

/* Configurações do svg */
.img-personalidade {
  width: 100%;
  height: 15rem;
}

/* Configurações das tags do card da personalidade  */
.card-personalidade h2 {
  font-size: 20px;
  padding: 0;
}

/* Definindo tamanho da tag <p> para o card da personalidade */
.card-personalidade p {
  font-size: 18px;
}

/* Criando o style do botão de voltar ao topo */
#btn-top {
  background-color: #06001b;
  border-radius: 80%;
  border: none;
  box-shadow: 2px 3px 19px -2px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 14px;
  right: 22px;
  z-index: 3;
}

#btn-top:hover {
  transform: scale(1.2);
}

button .fa-arrow-up {
  color: white;
}

/* Configurações do rodapé  */
.rodape {
	background-color: rgb(65, 65, 65);
  height: 15rem;
	font-size: 20px;
	color: white;
  text-align: center;
  flex-shrink: 0;
}

/* Configuração do rodapé */
.rodape-container {
  padding-top: 2rem;
}

.rodape-direitos{
  padding-top: 1rem;
}

/* Configuração da classe do copyright  */
.copyright {
	margin: 0;
	color: white;
	font-style: oblique;
	font-size: 15px;
  margin-top: 1rem;
}

/* Configuração da borda redonda envolta dos icones sociais */
.rodape-direitos .social-icons a {
  background-color: #6e6e6e;
	width: 40px;
	height: 40px;
  margin: 0 0 0 6px;
	border-radius: 100%;
}

/* Configuração do hover dos botões socias do rodapé */
.rodape-direitos .social-icons a:hover {
  color: white;
  background-color: #0024A4;
}


/*  ------------------------ CSS3 Animation ----------------------- */

/* Criando animação: Aparição suave */
@keyframes fade {
  /* Ação inicial da animação */
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  /* Ação final da animação */
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Aparição do form suavemente */
body {
  /* Aplicando a animação fade | Tempo de execução da animação */
  animation: fade 1.2s;
}




/* ----------------------------- Criando responsividade do site: -----------------------------
-----------------------     Otimizando para diferentes resoluções       -----------------------  */
@media screen and (min-width: 3840px) {
  header {
    height: 80rem;
  }

/* Configurando tamanho e arredondamento da foto */
.foto-perfil {
  width: 240px;
  height: 240px;
  border-radius: 120px;
}

 /* Configurando o H1: tamanho */
h1 {
  font-size: 90px;
}

/* Configurando a tag p: tamanho */
.header-texto p {
  font-size: 60px;
}

/* ------- Configurando a seta de rolagem ------ */
.seta-svg {
  font-size: 80px;
  margin-top: 5rem;
}

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte{
  margin-top: -30rem;
}

/* -------------  Configurações da sessao-info: -----------------------
Tamanho da sessão */
.sessao-info {
  height: 30rem;
}

/* Configurando o h2 */
.sessao-info h2{
  font-size: 80px;
}

/* Configurando a tag p  */
.sessao-info p {
  font-size: 40px;
}

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte-2 {
  margin-top: -1rem;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  padding-top: 5rem;
  margin-top: -24rem;
}

/* Configurações das tag <h2> */
.sessao-portfolio h2 {
  font-size: 50px;
}

/*  Configurações das tag <p> */
.sessao-portfolio p {
  font-size: 30px;
}

.projeto h2 {
  font-size: 40px;
}
}

@media screen and (max-width: 2048px) {
header {
    height: 50rem;
  }
  /* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte{
  margin-top: -15rem;
}

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte-2 {
  margin-top: -7rem;
}
}

@media screen and (max-width: 1243px) {
header {
    height: 39rem;
  }

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte-2 {
  margin-top: -1rem;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  padding-top: 0;
  margin-top: -8rem;
}
}

@media screen and (max-width: 1150px) {
header {
    height: 37rem;
  }

/* ------ Posição do SVG de onda para causar o efeito de recorte ---- */
.recorte-2 {
  margin-top: -1rem;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  padding-top: 0;
  margin-top: -7rem;
}

/* Configurações das divs onde ficaram os cards das skills */
.hard-skill, .formacao, .soft-skill, .personalidade  {
  width: 50%;
} 

.sessao-skills {
  height: 70rem;
}

.sessao-skills h2 {
  font-size: 30px;
}

/* Configurações dos cards  */
.card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
  width: 26rem;
  height: 26rem;
}

/* Configurando a tag <p> (texto) do card das tecnologias */
.card-hardSkill p {
  font-size: 15px;
}

/*  */
.icones-tech a {
  padding: 30px;
}

/* Definindo o tamanho da tag <p> */
.facul p, .tecnico-faetec p, .tecnico-start p {
  font-size: 14px;
}

/* Configurações do icone da UFF (hard-skills) svg local */
.uff-logo {
  height: 50px;
  width: 100px;
}

/* Configurações do icone da Faetec (hard-skills) svg local */
.faetec-logo {
  height: 50px;
  width: 75px;
}

/* Configuração dos certificados <h2> */
.certificacoes h2 {
  font-size: 18px;
  padding-top: 10px;
}

/* Configuração da div do scrum */
.scrum {
  width: 50%;
}

/* Definindo o tamanho da tag <p> do scrum */
.scrum p {
  font-size: 12px;
}

/* Configuração da logo do scrum */
.scrumstudy-logo {
  height: 70px;
  width: 70px;
}

/* Configurações das tags do card da personalidade  */
.card-personalidade h2 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

/* Definindo tamanho da tag <p> para o card da personalidade */
.card-personalidade p {
  font-size: 14px;
}

.img-personalidade {
  height: 12rem;
}
}

@media screen and (max-width: 890px) {
header {
    height: 36rem;
  }  

.sessao-skills {
    display: block;
    height: 140rem;
  }

/* Configurações das divs onde ficaram os cards das skills */
.hard-skill, .formacao, .soft-skill, .personalidade  {
  width: 100%;
} 

.soft-skills {
  display: block;
}
}

@media screen and (max-width: 859px) {
header {
    height: 38rem;
  }  

.header-texto h1 {
    font-size: 45px;
}

.sessao-info h2 {
  font-size: 40px;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  margin-top: -6rem;
}

.sessao-portfolio h2 {
  font-size: 30px;
}

.projeto h2 {
  font-size: 25px;
}

.projeto p {
  font-size: 15px;
}
}

@media screen and (max-width: 731px) {
header {
    height: 37rem;
  }  

.header-texto h1 {
    font-size: 40px;
  }
  
.sessao-info h2 {
    font-size: 35px;
  }
  
.sessao-info p {
    font-size: 18px;
  }

  /* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  margin-top: -5rem;
}
}

@media screen and (max-width: 603px) {
header {
    height: 35rem;
  }  

.header-texto h1 {
  font-size: 35px;
}

.sessao-info h2 {
  font-size: 30px;
  }
  
.sessao-info p {
  font-size: 16px;
  }

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
margin-top: -4rem;
}


@media screen and (max-width: 475px) {  
.sessao-info p {
    font-size: 15px;
    }
  
  /* ---------------- Configurando a sessao-portfolio ---------------------
  distancia da sessão-portfolio: Margem e padding */
  .sessao-portfolio {
  margin-top: -3rem;
  }
  
}

@media screen and (max-width: 425px) {  
.header-texto h1 {
 font-size: 27px;
}

.header-texto p {
  font-size: 16px;
}

.sessao-info h2 {
  font-size: 18px;
}

.imagem-galeria {
  width: 18rem;
  height: 18rem;
}

.sessao-skills {
  height: 165rem;
}

.card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
  width: 18rem;
  height: 33rem;
}
}

@media screen and (max-width: 355px) {  
.sessao-info {
  height: 30rem;
} 
 
.sessao-info p {
    font-size: 14px;
}

/* ---------------- Configurando a sessao-portfolio ---------------------
distancia da sessão-portfolio: Margem e padding */
.sessao-portfolio {
  margin-top: -2rem;
}
}


@media screen and (max-width: 399px) {  
header {
  height: 35rem;
}  

.header-texto p {
  font-size: 14px;
}

.sessao-portfolio h2 {
  font-size: 18px;
}

.sessao-portfolio p {
  font-size: 14px;
}

.imagem-galeria {
  width: 18rem;
  height: 18rem;
}

.sessao-skills {
  height: 140rem;
}
  
.card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
    width: 18rem;
    height: 28rem;
}

.sessao-skills h2 {
  font-size: 20px;
}

.sessao-skills p {
  font-size: 14px;
}

/* Definindo o tamanho da tag <p> */
.facul p, .tecnico-faetec p, .tecnico-start p {
  font-size: 12px;
}

/* Configurações do icone da UFF (hard-skills) svg local */
.uff-logo {
  height: 70px;
  width: 100px;
}

/* Configurações do icone da Faetec (hard-skills) svg local */
.faetec-logo {
  height: 70px;
  width: 100px;
}

.start-logo {
  height: 60px;
  width: 100px;
}

/* Configuração dos certificados <h2> */
.certificacoes h2 {
  font-size: 18px;
}

/* Definindo o tamanho da tag <p> do scrum */
.scrum p {
  font-size: 12px;
}

.card-personalidade h2 {
  font-size: 18px;
}

.card-personalidade p {
  font-size: 12px;
}

.info-rodape li {
  font-size: 16px;
}
}

@media screen and (max-width: 307px) {  
  .imagem-galeria {
    width: 16rem;
    height: 16rem;
  }
    
  .card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
      width: 16rem;
  }

  .icones-tech a {
    font-size: 50px;
  }    

/* Configurações dos icones de tecnologias (hard-skills) svg local */
.spring-logo {
height: 50px;
width: 50px;
}

.mysql-logo {
height: 50px;
width: 50px;
}

  }

  @media screen and (max-width: 288px) {  
    .sessao-info p {
        font-size: 12px;
    }

    .imagem-galeria {
      width: 14rem;
      height: 14rem;
    }
      
    .card-hardSkill, .card-formacao , .card-softSkill, .card-personalidade {
        width: 14rem;
    }
  

    /* Configurações do icone da UFF (hard-skills) svg local */
.uff-logo {
  height: 60px;
  width: 90px;
}

/* Configurações do icone da Faetec (hard-skills) svg local */
.faetec-logo {
  height: 60px;
  width: 90px;
}

/* Configuração dos certificados <h2> */
.certificacoes h2 {
  font-size: 14px;
}
}


}